html {
  background-color: #f2dee8;
}

div {
  font-family: Arial;
}

.instructions {
  font-size: 14px;
  font-weight: bolder;
  color: #6d6067;
}

:focus {
  outline: none;
}

#submit {
  background-color: #fff;
  border: 1px solid #ed2d8d;
  color: #ed2d8d;
  cursor: pointer;
}
